# This is a generated file, all modifications will be overwritten!


---
version: "3.8"
services:
  jore4-auth-base:
    container_name: "auth"
    # you may replace the bundled docker image by setting $AUTH_DOCKER_IMAGE
    image: "${AUTH_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-auth:main-2025-11-03-8aca3a14ec91e7cc40b4e0b3ea5163453dfb2433}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      API_PATH_PREFIX: ""
      API_PATH_PREFIX_PUBLIC: "/api/auth"
      DB_SESSION_SCHEMA: "public"
      LOGINPAGE_URL: "http://localhost:3300"
      LOGOUTPAGE_URL: "http://localhost:3300"
      OIDC_PROVIDER_BASE_URL: "https://hslid-dev.t5.fi"
      SECRET_STORE_BASE_PATH: "/mnt/secrets-store"
      SELF_PUBLIC_BASE_URL: "http://localhost:3300"
    secrets:
      - source: auth-db-hostname
        target: /mnt/secrets-store/db-hostname
      - source: auth-db-name
        target: /mnt/secrets-store/db-name
      - source: auth-db-password
        target: /mnt/secrets-store/db-password
      - source: auth-db-session-schema
        target: /mnt/secrets-store/db-session-schema
      - source: auth-db-username
        target: /mnt/secrets-store/db-username
      - source: auth-oidc-client-id
        target: /mnt/secrets-store/oidc-client-id
      - source: auth-oidc-client-secret
        target: /mnt/secrets-store/oidc-client-secret

  jore4-cypress-base:
    container_name: "cypress"
    # you may replace the bundled docker image by setting $CYPRESS_DOCKER_IMAGE
    image: "${CYPRESS_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-cypress:main-2025-11-13-47e425ade11010d7d478ee20896d6aa3538b7e52}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      CYPRESS_BASE_URL: "http://jore4-proxy:80"
      CYPRESS_DISABLE_MAP_TILES: "true"
      HASURA_API_URL: "http://jore4-hasura:8080/v1/graphql"
      POSTGRES_DB: "jore4e2e"
      POSTGRES_HOST: "jore4-testdb"
      POSTGRES_PASSWORD: "adminpassword"
      POSTGRES_PORT: "5432"
      POSTGRES_USER: "dbadmin"
    entrypoint: bash -c "yarn cypress open"


  jore4-hastus-base:
    container_name: "hastus"
    # you may replace the bundled docker image by setting $HASTUS_DOCKER_IMAGE
    image: "${HASTUS_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-hastus:main-2025-11-03-3f4f85255f2e89d30a14d9b49895c7ecfb8a0b06}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      HASURA_URL: "http://jore4-proxy:80/api/graphql/v1/graphql"
      SECRET_STORE_BASE_PATH: "/mnt/secrets-store"

  jore4-hasura-base:
    container_name: "hasura"
    # you may replace the bundled docker image by setting $HASURA_DOCKER_IMAGE
    image: "${HASURA_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-hsl-hasura:main-2025-11-03-a11bef7ade55dbe7c61a11e02bee65908e44febe}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      HASURA_GRAPHQL_AUTH_HOOK: "http://jore4-auth:8080/public/v1/hasura/webhook"
      HASURA_GRAPHQL_AUTH_HOOK_MODE: "GET"
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_ENABLE_TELEMETRY: "false"
      HASURA_GRAPHQL_METADATA_DIR: "/hasura-metadata"
      HASURA_GRAPHQL_MIGRATIONS_DIR: "/hasura-migrations"
      HASURA_GRAPHQL_MIGRATIONS_SERVER_TIMEOUT: "60"
      SECRET_STORE_BASE_PATH: "/mnt/secrets-store"
    secrets:
      - source: hasura-db-auth-username
        target: /mnt/secrets-store/db-auth-username
      - source: hasura-db-hostname
        target: /mnt/secrets-store/db-hostname
      - source: hasura-db-jore3importer-username
        target: /mnt/secrets-store/db-jore3importer-username
      - source: hasura-db-name
        target: /mnt/secrets-store/db-name
      - source: hasura-db-password
        target: /mnt/secrets-store/db-password
      - source: hasura-db-tiamat-name
        target: /mnt/secrets-store/db-tiamat-name
      - source: hasura-db-timetables-api-username
        target: /mnt/secrets-store/db-timetables-api-username
      - source: hasura-db-timetables-name
        target: /mnt/secrets-store/db-timetables-name
      - source: hasura-db-username
        target: /mnt/secrets-store/db-username
      - source: hasura-hasura-admin-secret
        target: /mnt/secrets-store/hasura-admin-secret

  jore4-jore3importer-base:
    container_name: "jore3importer"
    # you may replace the bundled docker image by setting $JORE3IMPORTER_DOCKER_IMAGE
    image: "${JORE3IMPORTER_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-jore3-importer:main-2025-11-03-e3909bb871795c14d494f091e4064fb3aae95acb}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      DIGIROAD_STOP_CSV_FILE_URL: "https://jore4storage.blob.core.windows.net/jore4-digiroad/digiroad_stops_2022_06_08.csv"
      MAP_MATCHING_API_BASEURL: "http://localhost:3005/api/mapmatching"
      SECRET_STORE_BASE_PATH: "/mnt/secrets-store"
    secrets:
      - source: jore3importer-importer-db-database
        target: /mnt/secrets-store/importer-db-database
      - source: jore3importer-importer-db-hostname
        target: /mnt/secrets-store/importer-db-hostname
      - source: jore3importer-importer-db-password
        target: /mnt/secrets-store/importer-db-password
      - source: jore3importer-importer-db-username
        target: /mnt/secrets-store/importer-db-username
      - source: jore3importer-jore4-db-database
        target: /mnt/secrets-store/jore4-db-database
      - source: jore3importer-jore4-db-hostname
        target: /mnt/secrets-store/jore4-db-hostname
      - source: jore3importer-jore4-db-password
        target: /mnt/secrets-store/jore4-db-password
      - source: jore3importer-jore4-db-username
        target: /mnt/secrets-store/jore4-db-username
      - source: jore3importer-source-db-database
        target: /mnt/secrets-store/source-db-database
      - source: jore3importer-source-db-hostname
        target: /mnt/secrets-store/source-db-hostname
      - source: jore3importer-source-db-password
        target: /mnt/secrets-store/source-db-password
      - source: jore3importer-source-db-port
        target: /mnt/secrets-store/source-db-port
      - source: jore3importer-source-db-username
        target: /mnt/secrets-store/source-db-username
    profiles:
      - importer


  jore4-mapmatching-base:
    container_name: "mapmatching"
    # you may replace the bundled docker image by setting $MAPMATCHING_DOCKER_IMAGE
    image: "${MAPMATCHING_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-map-matching:main-2025-11-12-a29abfec5154506ef5ffc14838e3a3d7bab9c465}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      DB_DATABASE: "jore4mapmatching"
      DB_HOSTNAME: "jore4-mapmatchingdb"
      SECRET_STORE_BASE_PATH: "/mnt/secrets-store"
    secrets:
      - source: mapmatching-db-password
        target: /mnt/secrets-store/db-password
      - source: mapmatching-db-username
        target: /mnt/secrets-store/db-username

  jore4-mapmatchingdb-base:
    container_name: "mapmatchingdb"
    # you may replace the bundled docker image by setting $MAPMATCHINGDB_DOCKER_IMAGE
    image: "${MAPMATCHINGDB_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-postgres-mapmatching:main-2025-11-03-091f7b4faf99985acd8c819ef4da1e0d90ca9228}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      DIGIROAD_ROUTING_DUMP_URL: "https://jore4storage.blob.core.windows.net/jore4-digiroad/digiroad_r_routing_2022-10-06.sql"
      POSTGRES_DB: "jore4mapmatching"
      SECRET_STORE_BASE_PATH: "/mnt/secrets-store"
    secrets:
      - source: mapmatchingdb-postgres-password
        target: /mnt/secrets-store/postgres-password
      - source: mapmatchingdb-postgres-user
        target: /mnt/secrets-store/postgres-user

  jore4-mbtiles-base:
    container_name: "mbtiles"
    # you may replace the bundled docker image by setting $MBTILES_DOCKER_IMAGE
    image: "${MBTILES_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-mbtiles-server:main-2025-11-03-309c7ca01897a859bce0c38000460d46a61743dd}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      DR_LINKKI_TILES_URL: "https://jore4storage.blob.core.windows.net/jore4-ui/dr_linkki_2023-04-18.mbtiles"

  jore4-mssqltestdb-base:
    container_name: "mssqltestdb"
    # you may replace the bundled docker image by setting $MSSQLTESTDB_DOCKER_IMAGE
    image: "${MSSQLTESTDB_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-mssql-testdb:main-2025-11-03-b96f0ca04c14be1d797b13dc05d5cce509f00fac}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      SA_PASSWORD: "P@ssw0rd"
    profiles:
      - importer


  jore4-testdb-base:
    container_name: "testdb"
    # you may replace the bundled docker image by setting $TESTDB_DOCKER_IMAGE
    image: "${TESTDB_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-postgres-azuredbmock:main-2025-11-03-091f7b4faf99985acd8c819ef4da1e0d90ca9228}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      POSTGRES_DB: "jore4e2e"
      POSTGRES_PASSWORD: "adminpassword"
      POSTGRES_USER: "dbadmin"
      SECRET_STORE_BASE_PATH: "/mnt/secrets-store"
    secrets:
      - source: testdb-db-auth-name
        target: /mnt/secrets-store/db-auth-name
      - source: testdb-db-auth-password
        target: /mnt/secrets-store/db-auth-password
      - source: testdb-db-auth-username
        target: /mnt/secrets-store/db-auth-username
      - source: testdb-db-hasura-name
        target: /mnt/secrets-store/db-hasura-name
      - source: testdb-db-hasura-password
        target: /mnt/secrets-store/db-hasura-password
      - source: testdb-db-hasura-username
        target: /mnt/secrets-store/db-hasura-username
      - source: testdb-db-jore3importer-name
        target: /mnt/secrets-store/db-jore3importer-name
      - source: testdb-db-jore3importer-password
        target: /mnt/secrets-store/db-jore3importer-password
      - source: testdb-db-jore3importer-username
        target: /mnt/secrets-store/db-jore3importer-username
      - source: testdb-db-jore4-main-name
        target: /mnt/secrets-store/db-jore4-main-name
      - source: testdb-db-tiamat-name
        target: /mnt/secrets-store/db-tiamat-name
      - source: testdb-db-tiamat-password
        target: /mnt/secrets-store/db-tiamat-password
      - source: testdb-db-tiamat-username
        target: /mnt/secrets-store/db-tiamat-username
      - source: testdb-db-timetables-api-password
        target: /mnt/secrets-store/db-timetables-api-password
      - source: testdb-db-timetables-api-username
        target: /mnt/secrets-store/db-timetables-api-username
      - source: testdb-db-timetables-name
        target: /mnt/secrets-store/db-timetables-name

  jore4-tiamat-base:
    container_name: "tiamat"
    # you may replace the bundled docker image by setting $TIAMAT_DOCKER_IMAGE
    image: "${TIAMAT_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-tiamat:main-2025-11-06-0323919a3e873444b86fcafa45bd0e0bc928f2ae}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      SECRET_STORE_BASE_PATH: "/mnt/secrets-store"
    secrets:
      - source: tiamat-tiamat-db-database
        target: /mnt/secrets-store/tiamat-db-database
      - source: tiamat-tiamat-db-hostname
        target: /mnt/secrets-store/tiamat-db-hostname
      - source: tiamat-tiamat-db-password
        target: /mnt/secrets-store/tiamat-db-password
      - source: tiamat-tiamat-db-username
        target: /mnt/secrets-store/tiamat-db-username

  jore4-timetablesapi-base:
    container_name: "timetablesapi"
    # you may replace the bundled docker image by setting $TIMETABLESAPI_DOCKER_IMAGE
    image: "${TIMETABLESAPI_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-timetables-api:main-2025-11-03-84270cfbdb491f35cfdf27e2676952d3c2d9ce0e}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      SECRET_STORE_BASE_PATH: "/mnt/secrets-store"
    secrets:
      - source: timetablesapi-jore4-db-database
        target: /mnt/secrets-store/jore4-db-database
      - source: timetablesapi-jore4-db-hostname
        target: /mnt/secrets-store/jore4-db-hostname
      - source: timetablesapi-jore4-db-password
        target: /mnt/secrets-store/jore4-db-password
      - source: timetablesapi-jore4-db-username
        target: /mnt/secrets-store/jore4-db-username

  jore4-ui-base:
    container_name: "ui"
    # you may replace the bundled docker image by setting $UI_DOCKER_IMAGE
    image: "${UI_DOCKER_IMAGE:-crjore4prod001.azurecr.io/jore4-ui:main-2025-11-13-47e425ade11010d7d478ee20896d6aa3538b7e52}"
    restart: "unless-stopped"
    networks:
      - jore4
    environment:
      SECRET_STORE_BASE_PATH: "/mnt/secrets-store"

